@model OnlineShop.Models.Product

<img class="w-25" src="@Model.Image" alt="Image">
<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>Price: $@Model.Price</p>
<a href="/Product" class="btn btn-secondary">Back</a>
