@* CreateView.cshtml *@

@model OnlineShop.Models.Product;

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Maxsulotni o'chirish</h2>
        <a class="btn btn-primary" href="/Product">Ortga</a>
    </div>
    <form asp-action="Delete">
        <div class="form-group">
            <label>Nomi</label>
            <input  class="form-control" asp-for="Name">
    
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>