@model List<OnlineShop.Models.Product>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a href="/Product/Details/@product.Id" class="btn btn-info">Details</a>
                    <a href="/Product/EditView/@product.Id" class="btn btn-warning">Edit</a>
                    <a href="/Product/DeleteView/@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Product/CreateView" class="btn btn-primary">Add Product</a>
